body {
    margin: 0;
}

.main-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.179);
}

.navigation-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    list-style-type: none;
    padding: 1rem;
    padding-left: 3rem;
    height: 80%;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
}

.navigation-menu-item {
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "Asimovian", sans-serif;
    color: #000000;
}

.navigation-menu-item:hover {
    color: #339933;

}

.main-Content {
    margin-left: 20%;
    height: 100%;
    width: 80%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
}

.subjects {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "roboto", sans-serif;
}

.subjects.active {
    display: flex;
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.subject {
    display: flex;
    flex-direction: column;
   align-items: center;
}

.code-copy {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 400px;
}

.code-copy li {
    margin: 6px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f3f4f6;
    justify-content: space-between;

}

.code-copy code {
    background: #f3f4f6;
    padding: 4px 8px;
    border-radius: 6px;
    font-family: monospace;
}

.copy-btn {
    border: none;
    background: #f3f4f6;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
    transition: background 0.5s;
}

.copy-btn:hover {
    background: #d1d5db;
}


.note-box {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.note-box p {
    margin: 8px 0;
    width: 400px;
}

.note-box strong {
    color: #339933;
}

.note-box-bread-text {
    width: 700px;
    line-height: 2.2rem;
}